.generic-form-card {
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #CCCCCC;
  width: 100%;
  max-width: 500px;
  margin: 0 24px;
}
.generic-form-title {
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 24px;
}

.generic-form {
 width: 100%;
 display: flex;
 flex-direction: column;
}

.generic-form-content {
 margin-bottom: 16px;
}

.form-input-group input {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #777777;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
  max-height: 32px;
}
.generic-form-cancel-button {
  background-color: transparent!important;
  border: 1px solid #000!important;
  color: #000!important;
  margin-right: 16px;
}

.generic-form-cancel-button,
.generic-form-submit-button {
  width: 100%;
  max-width: 110px;
  max-height: 32px;
  padding: 7px 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

.generic-form-submit-button:disabled {
 background-color: #ccc;
 color: #888;
 cursor: not-allowed;
}
.generic-form-actions {
 text-align: right;
}

.form-input-error {
 border-color: #ff6b6b !important;
 margin-bottom: 5px;
}

.generic-form-errors {
  color: #ff6b6b;
  font-size: 14px;
  margin-top: 10px;
}

.form-label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.form-textarea {
  font-size: 16px;
  width: 100%;
  padding: 5px 16px;
  border: 1px solid #777777;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
  min-height: 74px;
}

.generic-form-delete {
  background-color: #FF5151;
}
.generic-form-save {
  background-color: #47B960;
}
@media (min-width: 1024px) {
  .generic-form-card {
    margin: 0 auto;
  }
}