.pa-none {
 padding: 0!important;
}

.generic-title-container {
 padding: 24px;
 background-color: var(--primary-color);
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.generic-title-container .generic-form-title {
 color: white;
 margin: 0;
}

.generic-button-icon img {
 width: 100%;
 max-height: 100%;
}
.generic-button-icon {
 background-color: transparent;
 border: none;
 cursor: pointer;
 padding: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 30px;
}

.generic-card-actions {
 display: flex;
 gap: 23px;
}

.generic-content-testimony {
 padding: 24px;
}
.generic-content-header {
 margin-bottom: 16px;
 font-size: 18px;
 color: #777777;
 font-weight: 700;
 display: flex;
 justify-content: space-between;
}